APScheduler==3.6.3
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
Flask==1.1.2
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
newsapi-python==0.2.6
python-dotenv==0.13.0
pytz==2019.3
requests==2.23.0
six==1.14.0
tzlocal==2.0.0
urllib3==1.26.5
Werkzeug==1.0.1
